{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
    <link href="{{ site_base }}/static/js/lightGallery/dist/css/lightgallery.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
{% end %}

{% block javascript %}
    <script type="text/javascript" src="{{ site_base }}/static/js/product_detail.js"></script>
    <script type="text/javascript" src="{{ site_base }}/static/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/dist/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{ site_base }}/static/js/lightGallery/dist/js/lightgallery.js"></script>
    <script type="text/javascript">

        $(document).ready(function()
        {
            var base_url = $.environmentVar(
                'https://apibodegas.loadingplay.com/',
                'https://apibodegas.loadingplay.com/',
                'https://apibodegas.loadingplay.com/');
            var checkout_url = $.environmentVar(
                'https://pay.loadingplay.com',
                'https://pay.loadingplay.com/',
                'https://pay.loadingplay.com');
            var app_public = $.environmentVar(28,28,28);

            $(document).ecommerce('product_detail',
            {
                'app_public' : app_public,
                'base_url' : base_url,
                'checkout_url': checkout_url,
                'product_id' : {{ product_id }},
                'container' : '.product-detail',
                onLoad: function(product)
                {
                    $("a#single_image").fancybox();
                    $('.fancybox').fancybox();
                    $("#lightgallery").lightGallery(
                    {
                        cssEasing: 'cubic-bezier(0.250, 0.100, 0.250, 1.000)'
                    });
                    $("#home").css("text-align", "left");
                    related(product.bullet_3);
                }
            });

            // productos relacionados
            var related = function(tag)
            {
                var config =
                {
                    'app_public' : app_public,
                    'base_url' : base_url,
                    'maxProducts' : 8,
                    'templateOrigin' : '#product_template',
                    'tag' : '',
                    'ignore_stock' : true,
                    'onLoad':function()
                    {
                        $(".ellipsis").dotdotdot();
                    }
                };
                $('.product-related').ecommerce('product_box', config);
            };
        });
    </script>

    <script type="text/template" id="product_detail">
        <section>
            <div style="position: relative;">
                <img src="{{! images[0]['thumb_500'] }}" title="" alt="" class="fondo-detalle" id="img_detail">
                <div align="center">
                    <div class="lateral lateral-detalle l-movil">
                        <div class="reser">
                            <div id="reserva" class="paxer-widget-calendar reserva-detalle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div align="center">
                    <div class="col-md-4 col-sm-offset-8 col-xs-offset-8 col-md-offset-8">
                        <h1 class="name name_prod_detail ellipsis multiline" class="line" href="#">{{! name }}</h1>
                    </div>
                    <h3 class="descr_prod_detail ellipsis multiline"> {{! description }}</h3>
                </div>
                <ul id="lightgallery" class="col-xs-12 col-md-4 col-sm-6 image_little list-unstyled row">
                    <li data-responsive="{{! images[0]["thumb_200"] }},{{! images[0]["thumb_500"] }}" data-src="{{! images[0]["thumb_500"] }}" data-sub-html="">
                        <a href="">
                            <img class="{{! images[0]['thumb_500']|hide_if_empty}} col-xs-3 little img_prod_little img-gallery" src="{{! images[0]["thumb_500"] }}" onload="this.onload='';this.src={{! images[0]['thumb_500']}}" />
                        </a>
                    </li>
                    <li data-responsive="{{! images[2]["thumb_200"] }},{{! images[2]["thumb_500"] }}" data-src="{{! images[2]["thumb_500"] }}" data-sub-html="">
                        <a href="">
                            <img class="{{! images[2]['thumb_500']|hide_if_empty}} col-xs-3 little img_prod_little img-gallery" src="{{! images[2]["thumb_500"] }}" onload="this.onload='';this.src={{! images[2]['thumb_500']}}" />
                        </a>
                    </li>
                    <li data-responsive="{{! images[3]["thumb_200"] }},{{! images[3]["thumb_500"] }}" data-src="{{! images[3]["thumb_500"] }}" data-sub-html="">
                        <a href="">
                            <img class="{{! images[3]['thumb_500']|hide_if_empty}} col-xs-3 little img_prod_little img-gallery" src="{{! images[3]["thumb_500"] }}" onload="this.onload='';this.src={{! images[3]['thumb_500']}}" />
                        </a>
                    </li>
                    <li data-responsive="{{! images[4]["thumb_200"] }},{{! images[4]["thumb_500"] }}" data-src="{{! images[4]["thumb_500"] }}" data-sub-html="">
                        <a href="">
                            <img class="{{! images[4]['thumb_500']|hide_if_empty}} col-xs-3 little img_prod_little img-gallery" src="{{! images[4]["thumb_500"] }}" onload="this.onload='';this.src={{! images[4]['thumb_500']}}" />
                        </a>
                    </li>
                    <li data-responsive="{{! images[5]["thumb_200"] }},{{! images[5]["thumb_500"] }}" data-src="{{! images[5]["thumb_500"] }}" data-sub-html="">
                        <a href="">
                            <img class="{{! images[5]['thumb_500']|hide_if_empty}} col-xs-3 little img_prod_little img-gallery" src="{{! images[5]["thumb_500"] }}" onload="this.onload='';this.src={{! images[5]['thumb_500']}}" />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div class="clearfix-fun-2"></div>
        <div class="container"></div>
    </script>

{% end %}

{% block body %}
    <div class="container-fluid">
        <div class="container  product-page"></div>
    </div>

    <div class="product-detail"></div>
    <div align="center">
        <div class="fin text-center {{editabletext}}" text-id="{{ site.name + '_ple' }}"> {{ read_text(site.name +  '_ple') }}</div>
        <hr class="len">
        <div class="fin-2 text-center {{editabletext}}" text-id="{{ site.name + '_ple_2' }}"> {{ read_text(site.name +  '_ple_2') }}</div>
    </div>

    {% include '../home/footer.html' %}
{% end %}
